/.build/
/_build/
/Build
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/Text-Markdown-Hoedown-*
lib/Text/Markdown/Hoedown.c
!lib/Text/Markdown/ppport.h
